a{
  text-decoration: none;
}
.footer {
          
  width: 100%;
  height: 450px;
  background-color: #41391D;
  margin-top: 50px;
  position: relative;
}

.subscription {
  position: absolute;
  top: 180px;
right: 10px;
  background-color: #685E37;
  width: 304px;
  height: 184px;
  border-radius: 7px;
}

.div100{
  width: 100%;
  height: 170px;
  text-align: center;
  align-content: center;
}

.main-text{
  font-family: poppins;
  font-size: 18px;
  font-weight: 600;
  color: #FFFFFF;

}

.sub-text{
 font-family:  montserrat;
 font-size: 15px;
 font-weight: 400;
 color: #FFFFFF;

}


.main-first{
width: 100%;
  display: flex;
  justify-content: center;
  align-content:center ;
  margin-left: 90px; 

  

  

}


.first{
width: 100%;
text-align: start;

}
.phone img{
 width: 24px;
 height: 24px;
 margin: 13px;
}

.phone p{
  font-family:  montserrat;

}
.phone{
  display: flex;
  
}

.mail img{
  width: 24px;
  height: 24px;
  margin: 13px;
 }
 .mail{
   display: flex;
 }

 .mail p{
  font-family:  montserrat;

 }


 .location p{
  font-family:  montserrat;

 }
 .location img{
  width: 24px;
  height: 24px;
  margin: 13px;
 }
 .location{
   display: flex;
 }



 @media(max-width:1460px){
  .subscription {
    position: absolute;
    left: 50px;
    top: 460px;
  }

  .footer{
    height: 700px;
  }
  .main-text{

    font-size: 15px;
  
  
  }
  
  .sub-text{
  
   font-size: 13px;
  }

} 

 

 @media(max-width:768px){
  .footer{
    height: 850px;
  }
  .subscription {
    position: absolute;
    left: 50px;
    top: 650px;
  }
  .first1{
    width: 100px;
    position: absolute;
    left: 20px;
  }

  .first2{
    position: absolute;
    left: 260px;
  }
  .first3{
    position: absolute;
    top: 450px;
    left: 20px;

  }
  .first4{
    position: absolute;
    top: 450px;
    left: 260px;

  }


 }