.search-container {
    position: relative;
    width: 300px;
    position: relative;
    top: 70px;
    right: 30px;
  }
  a{
    text-decoration: none;
  }
  
  .search-container input {
    width: 100%;
    padding: 10px;
    padding-right: 40px;
    /* Space for the icon */
    border: 1px solid #ccc;
    border-radius: 25px;
    font-size: 16px;
  }
  
  .search-btn {
    position: absolute;
    right: -35px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .search-btn i {
    font-size: 18px;
    color: #888;
  }
  
  .section {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #FFF7E3;
    width: 100%;
    height: 100vh;
    justify-items: center;
  
  }
  
  .room {
    width: 40%;
    height: 520px;
    background-color: white;
    position: relative;
    top: 160px;
    border: 2px solid black;
    border-radius: 35px;

  }
  
  .div-1 {
    width: 100%;
    height: 520px;
    background-color: transparent;
    border-radius: 6% 0% 0% 6%;
    position: relative;
    top: 35px;
  
  }
  
  /* .div-2 {
    width: 50%;
    height: 520px;
    background-color: transparent;
    border-radius: 0% 6% 6% 0%;
  } */
  
  .heading {
    text-align: center;
    font-size: 25px;
  }
  
  .room-number {
    width: 100%;
    height: 424px;
    border-radius: 0% 0% 0% 7.6%;
    display: flex;
    flex-direction: column;
  }
  
  .room-div {
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 2px solid black; 
  }
  
  .room-div h5 {
    margin: 0;
    position: relative;
    left: 15px;
    top: 10px;
    font-size: 20px;
    font-family: Poppins;
    font-weight: 600;
  }
  
  .room-div h6 {
    margin: 0;
    position: relative;
    left: 15px;
    top: 10px;
    font-size: 15px;
    font-family: Poppins;
    font-weight: 300;
  }
  
  .circles-container {
    display: flex;
    position: relative;
    top: 10px;
    right: 10px;
    height: 53px;
  
  }
  
  .circle {
    border-radius: 50%;
    width: 70px;
    height: 70px;
  }
  
  .circle-light {
    background-color: rgba(217, 217, 217, 1);
    margin-right: -20px;
    height: 50px;
    width: 50px;
  }
  
  .circle-dark {
    background-color: rgba(135, 93, 93, 1);
    margin-right: -20px;
    height: 50px;
    width: 50px;
  }
  
  .circle-light-overlap {
    background-color: rgba(217, 217, 217, 1);
    margin-right: -30px;
    z-index: 10;
    height: 50px;
    width: 50px;
  }
  
  .circle-dark-end {
    background-color: rgba(135, 93, 93, 1);
    height: 50px;
    width: 50px;
  }
  
  .room-div-1 {
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .room-div-1 h5 {
    margin: 0;
    position: relative;
    left: 15px;
    top: 10px;
    font-size: 20px;
    font-family: Poppins;
    font-weight: 600;
  
  }
  
  .room-div-1 h6 {
    margin: 0;
    position: relative;
    left: 15px;
    top: 10px;
    font-size: 15px;
    font-family: Poppins;
    font-weight: 300;
  }
  
  .circles-container {
    display: flex;
    position: relative;
    top: 10px;
    right: 10px;
    height: 53px;
  
  }
  
  .circle {
    border-radius: 50%;
    width: 70px;
    height: 70px;
  }
  
  .circle-light {
    background-color: rgba(217, 217, 217, 1);
    margin-right: -20px;
    height: 50px;
    width: 50px;
  }
  
  .circle-dark {
    background-color: rgba(135, 93, 93, 1);
    margin-right: -20px;
    height: 50px;
    width: 50px;
  }
  
  .circle-light-overlap {
    background-color: rgba(217, 217, 217, 1);
    margin-right: -30px;
    z-index: 10;
    height: 50px;
    width: 50px;
  }
  
  .circle-dark-end {
    background-color: rgba(135, 93, 93, 1);
    height: 50px;
    width: 50px;
  }
  .div-2 {
    width: 50%;
    height: 520px;
    background-color: transparent;
    border-radius: 6% 0% 0% 6%;
  }
  @media (max-width: 768px) {
    .div-2{
      position: absolute;
      top: 540px;
    }
    .room-div h5,
     h6 
    {
      font-size: 9px;
    }
    .room-div-1 h5,
     h6 
    {
      font-size: 9px;
    }
    .div-1{
      width: 100%;
      border-right: none;
    }
    .div-2{
      width: 100%;
      border-right: none;
      background-color: white;
      border-radius: 30px ;
      border: 3px solid black;
    }
    .section{
        height: 160vh;
    }
  }
 