
*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    background: #DFFFF7;
    overflow-x: hidden;
   
    
    
}
h3{
    margin: 0;
    padding: 0;
}
.minhaj-container{
    height: 180vh;
}
   